<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Plugin Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="WP_TESTS_DIR" value="tests/wordpress-tests-lib"/>
    <env name="WP_PLUGIN_DIR" value="wp-livehouse-event-manager"/>
  </php>
</phpunit>
